# Detecting Stroke Using Machine Learning

In [1]:
#import the necessary libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import

In [5]:
data= pd.read_csv("data/healthcare-dataset-stroke-data.csv")
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [6]:
data.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [8]:
data.stroke.value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [12]:
# Verilen veriler
stroke_0_count = 4861  # Stroke = 0 olanların sayısı
stroke_1_count = 249   # Stroke = 1 olanların sayısı
total_count = stroke_0_count + stroke_1_count  # Toplam gözlem sayısı

# Stroke = 1 olma olasılığı (oranı)
probability_stroke_1 = stroke_1_count / total_count

# Stroke = 0 olma olasılığı (oranı)
probability_stroke_0 = stroke_0_count / total_count

# Stroke = 1 ve Stroke = 0 arasındaki oran
odds_ratio = stroke_1_count / stroke_0_count
print(f"Percentage of odds_ratio ={odds_ratio * 100}%")

Percentage of odds_ratio =5.122402797778235%

In [19]:
data.bmi.head(),data.bmi.mean(),data.bmi.std(),data.bmi.median()

(0    36.6
 1     NaN
 2    32.5
 3    34.4
 4    24.0
 Name: bmi, dtype: float64,
 28.893236911794666,
 7.854066729680158,
 28.1)

In [31]:
null_bmi_columns=data["bmi"].isnull()
null_bmi_data = data[null_bmi_columns]
import ace_tools as tools
tools.display_dataframe_to_user(name="Null BMI Values", dataframe=null_bmi_data)

ModuleNotFoundError: No module named 'ace_tools'

In [27]:

data.bmi==61.2

0       False
1       False
2       False
3       False
4       False
        ...
5105    False
5106    False
5107    False
5108    False
5109    False
Name: bmi, Length: 5110, dtype: bool